.inputContainer {
  width: 48%;
  min-height: 100%;
  height: auto;
  padding: 1rem;
  border: 0.08rem solid #d9dcdd;
  box-shadow: 1px 1px 5px 1px #ccc;
  box-sizing: border-box;
}

.field {
  margin: 0.7rem 3rem 0.7rem 1rem;
}

.fieldName {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.inputText {
  width: 100%;
  padding: 0.2rem;
  border: 0.08rem solid #bdc0c1;
  border-radius: 3px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.inputText:focus {
  outline: none;
  border: 0.08rem solid #3776b2;
}

.textareaText {
  width: 100%;
  height: 6rem;
  resize: none;
  color: #444;
  overflow-y: scroll;
  border: 0.08rem solid #bdc0c1;
  font-size: 1rem;
  border-radius: 3px;
  padding: 0;
  box-sizing: border-box;
}

.textareaText:focus {
  outline: none;
  border: 0.08rem solid #3776b2;
}

.error {
  font-family: Arial, sans-serif;
  min-height: 1.3rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  color: #f45e4e;
}
