.inputContainer {
  width: 48%;
  min-height: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid #d9dcdd;
  box-shadow: 1px 1px 5px 1px #ccc;
  box-sizing: border-box;
}

.item {
  margin: 15px 40px 15px 15px;
}

.item-name {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.input-text {
  width: 100%;
  padding: 5px;
  border: 1px solid #bdc0c1;
  border-radius: 3px;
  box-sizing: border-box;
}

.input-text:focus {
  outline: none;
  border: 1px solid #3776b2;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.textarea-text {
  width: 100%;
  height: 100px;
  resize: none;
  color: #444;
  overflow-y: scroll;
  border: 1px solid #bdc0c1;
  border-radius: 3px;
  padding: 0;
  box-sizing: border-box;
}

.textarea-text:focus {
  outline: none;
  border: 1px solid #3776b2;
}

.error {
  min-height: 1vh;
  padding: 0;
  margin: 0;
}